<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tRPG Engine</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style media="screen">
      * {
        margin:0;
        padding:0;
        font-family:roboto;
      }
      body {
        /* background: #f1f1f1; */
        background: white;
      }
      .material-icons {
        user-select: none;
      }
      .card {
        background:white;
        border-radius:5px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.33);
        max-width:400px;
        max-height:800px;
        margin:15px;
        padding:15px;
      }
      .baseObject {
        background:rgba(0, 0, 0, 0.04);
        border-radius:0 0 5px 5px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.33);
        /* max-width:400px; */
        margin:0 0 15px 0;
        padding:15px;
      }
      .attributeName {
        float:left;
        color:rgba(0, 0, 0, 0.5)
      }
      .attributeContent {
        text-align: right;
      }
      .titleDiv {
        border-radius:5px 5px 0 0;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.33);
        padding:10px;
      }
      .objectTitle {
        color:white;
        display:inline-block;
        margin-right: 5px;
      }
      .objectCategory {
        color:rgba(255, 255, 255, 0.5);
        display:inline-block;
      }
      .titleButton {
        color:white;
        border-radius:50%;
        cursor:pointer;
        float: right;
        padding:2px;
      }
      .titleButton:hover {
        color:#ffffff00;
        background:white;
        color:black;
      }
      .addNumber {
        display:inline-block;
        padding: 0 0 0 5px;
        cursor: pointer;
        user-select:none;
      }
    </style>
    <script type="text/javascript"> // Generic Functions
function findIdsInClass(className) {
  idsInClass = document.getElementsByClassName(className);
  var output = [];
  for (i = 0; i < idsInClass.length; i++) {
    output.push(idsInClass[i]['id'])
  }
  return output
};
function findClass (elementId, className) {
  classFound = false;
  elementClasses = document.getElementById(elementId).getAttribute('class').split(' ');
  for (var i = 0; i < elementClasses.length; i++) {
    if (elementClasses[i] == className) {
      classFound = true;
    }
  }
  return classFound;
}
function findObjectClass (object, className) {
  console.log(object);
  classFound = false;
  objectClasses = object.getAttribute('class').split(' ');
  for (var i = 0; i < objectClasses.length; i++) {
    if (objectClasses[i] == className) {
      classFound = true;
    }
  }
  return classFound;
}
function addClass(elementId, className) {
  classFound = findClass(elementId, className);
  if (!classFound) {
    document.getElementById(elementId).setAttribute("class", (document.getElementById(elementId).getAttribute('class') + " " + className))
  }
};
function addObjectClass(object, className) {
  classFound = findObjectClass(object, className);
  if (!classFound) {
    object.setAttribute("class", (object.getAttribute('class') + " " + className))
  }
};
function removeClass(elementId, className) {
  elementClasses = document.getElementById(elementId).getAttribute('class').split(' ');
  newClasses = "";
  for (var i = 0; i < elementClasses.length; i++) {
    if (elementClasses[i] != className) {
      newClasses = newClasses + " " + elementClasses[i];
    }
  }
  document.getElementById(elementId).setAttribute('class', newClasses);
}
function removeObjectClass(object, className) {
  objectClasses = object.getAttribute('class').split(' ');
  newClasses = "";
  for (var i = 0; i < objectClasses.length; i++) {
    if (objectClasses[i] != className) {
      newClasses = newClasses + " " + objectClasses[i];
    }
  }
  object.setAttribute("class", newClasses)
};
function toggleClass(elementId, className) {
  classFound = findClass(elementId, className);
  if (classFound) {
    removeClass(elementId, className);
  } else {
    document.getElementById(elementId).setAttribute("class", (document.getElementById(elementId).getAttribute('class') + " " + className))
  }
}
function toggleObjectClass(object, className) {
  classFound = findObjectClass(object, className);
  if (classFound) {
    removeObjectClass(object, className);
  } else {
    object.setAttribute("class", (object.getAttribute('class') + " " + className))
  }
}
function ajax(outputDiv, url, method='GET', data) {
  console.log('AJAX request started...')
  var request = new XMLHttpRequest;
  request.open(method, url);
  request.onload = function(){
    console.log('AJAX request response recieved.');
    document.getElementById(outputDiv).innerHTML=this.response;
  };
  request.send(data);
};
function ajaxNext(outputDiv, url, method='GET', data, nextCommand) {
  console.log('AJAX request started...')
  var request = new XMLHttpRequest;
  request.open(method, url);
  request.onload = function(){
    console.log('AJAX request response recieved.');
    document.getElementById(outputDiv).innerHTML=this.response;
    eval(nextCommand);
  };
  request.send(data);
};
function copyToClipboard(text) {
  const tempElement = document.createElement('textarea');
  tempElement.value = text;
  document.body.appendChild(tempElement);
  tempElement.select();
  document.execCommand('copy');
  document.body.removeChild(tempElement);
};
function isoDate() {
  var today = new Date();
  return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
}
function getUrlVars() {
  var vars = {};
  var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
    vars[key] = value;
  });
  return vars;
}
function toTitleCase(str) {
  return str.replace(
    /\w\S*/g,
    function (txt) {
      return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    }
  );
}
function htmlUnescape(str) {
  // return str.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;");
  return str.replace(/&amp;/g, "&").replace(/&gt;/g, ">").replace(/&lt;/g, "<").replace(/&quot;/g, "\"");
}
function cookieCheck(key) {
  // Iterate through the cookie file
  for (i = 0; i < document.cookie.split(';').length; i++) {
    if (document.cookie.split('; ')[i].split('=')[0] == key) {
      return document.cookie.split('; ')[i].split('=')[1]
    }
  }
}
function cookieRemove(key) {
  document.cookie = key + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
}
function cookieSet(key, value) {
  document.cookie = key + "=" + value + ';' ;
}
const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
}
    </script>
    <script type="text/javascript">
      function removeElement(elementId) { // Removes an element from the document
        var element = document.getElementById(elementId);
        element.parentNode.removeChild(element);
      }
      function generateId() {
        globalId = (globalId + 1)
        return globalId
      }
      function unpackObject(object, parentId) {
        var div = document.createElement('div');
        div.setAttribute('class', 'baseObject');
        if (!('id' in object)) {object['id']=generateId()};
        div.setAttribute('id', object['id']);
        if ('rules' in object) {processRules(object)}
        // var title = document.createElement('h2');
        // title.innerHTML=object['attributes']['Title'];
        // div.appendChild(title);
        // var description = document.createElement('p');
        // description.innerHTML=object['attributes']['Description'];
        // div.appendChild(description);

        // if (parentId == 'topLevel') {
        //   div.style.backgroundColor='white';
        //   div.style.boxShadow='none';
        //   document.body.appendChild(div);
        // } else {
        if ('attributes' in object) {
          if ('title' in object['attributes'] && 'color' in object['attributes']) {
            var titleDiv=document.createElement('div');
            titleDiv.setAttribute('id', object['id']+'Title');
            titleDiv.setAttribute('class', 'titleDiv');
            titleDiv.style.backgroundColor='#'+object['attributes']['color'];
            var thisTitle=document.createElement('h2');
            thisTitle.setAttribute('class', 'objectTitle');
            thisTitle.innerHTML=object['attributes']['title'];
            titleDiv.appendChild(thisTitle);
            var titleCategory=document.createElement('small');
            titleCategory.setAttribute('class', 'objectCategory');
            titleCategory.innerHTML=object['attributes']['type'];
            titleDiv.appendChild(titleCategory);
            var editButton=document.createElement('i');
            editButton.setAttribute('class', 'material-icons titleButton');
            editButton.innerHTML='edit';
            titleDiv.appendChild(editButton);
            var addButton=document.createElement('i');
            addButton.setAttribute('class', 'material-icons titleButton');
            addButton.innerHTML='add';
            titleDiv.appendChild(addButton);
            var removeButton=document.createElement('i');
            removeButton.setAttribute('class', 'material-icons titleButton');
            removeButton.innerHTML='remove';
            titleDiv.appendChild(removeButton);
            document.getElementById(parentId).appendChild(titleDiv);
            editButton.setAttribute('onclick', `addObject('${addButton.parentElement.id}');`.replace('Title', ''));
            addButton.setAttribute('onclick', `addObject('${addButton.parentElement.id}');`.replace('Title', ''));
            removeButton.setAttribute('onclick', `addObject('${addButton.parentElement.id}');`.replace('Title', ''));
          }
          for (var i = 0; i < Object.keys(object['attributes']).length; i++) {
            if (['title', 'color'].includes(Object.keys(object['attributes'])[i])) {continue;}
            var thisAttributeName=document.createElement('div');
            thisAttributeName.setAttribute('class', 'attributeName');
            thisAttributeName.innerHTML=Object.keys(object['attributes'])[i]
            div.appendChild(thisAttributeName);
            var thisAttributeContent=document.createElement('div');
            thisAttributeContent.setAttribute('class', 'attributeContent');
            if (typeof(object['attributes'][Object.keys(object['attributes'])[i]]) == 'number') {
              var addDiv=document.createElement('div');
              addDiv.setAttribute('class', 'addNumber');
              addDiv.setAttribute('onclick', `addNumber(${object.id}, '${Object.keys(object['attributes'])[i]}', 1)`);
              addDiv.innerHTML="+";
              thisAttributeContent.innerHTML=object['attributes'][Object.keys(object['attributes'])[i]]
              thisAttributeContent.appendChild(addDiv);
            } else {
              thisAttributeContent.innerHTML=object['attributes'][Object.keys(object['attributes'])[i]]
            }
            div.appendChild(thisAttributeContent);
            div.appendChild(document.createElement('br'));
          }
        }
        if (parentId == 'body') {
          div.style.backgroundColor='white';
          div.style.boxShadow='none';
        }
        document.getElementById(parentId).appendChild(div);
        if ('children' in object) {
          for (var i = 0; i < Object.keys(object['children']).length; i++) {
            unpackObject(object['children'][Object.keys(object['children'])[i]], object['id']);
          }
        }
      }
      function processRules(object) {
        for (var i = 0; i < object['rules'].length; i++) {
          ruleString=object['rules'][i];
          affectedAttribute=ruleString.split("=")[0];
          operation=ruleString.split("=")[1].split("(")[0];
          causeAttributes=ruleString.split("=")[1].split("(")[1].split(")")[0].split(" ");
          if (operation == "SUM") {
            var total = 0;
            for (var i = 0; i < causeAttributes.length; i++) {
              total = (total + parseInt(object['attributes'][causeAttributes[i]]));
            }
            object['attributes'][affectedAttribute]=total;
          }
        }
      }
      function addNumber(objectId, attribute, amount) {
        thisObject=findObjectNode(data['scene'], objectId);
        thisObject['attributes'][attribute] = parseInt(thisObject['attributes'][attribute]) + parseInt(amount);
        if ('rules' in thisObject) {processRules(thisObject);};
        redrawData();
      }
      // TODO: Replace addobject with duplicateObject.
      function addObject(parentId){
        parentObject = findObjectNode(data['scene'], parentId);
        console.log(parentObject)
        newObjectId=generateId();
        parentObject['children'][newObjectId.toString()]={"id": newObjectId, "attributes": {"title": "Ready", "Description": "Prepare for a condition with advantage. Consumes your action.", "type":"skill", "color": "6996afff", "effects":{}}, "children": {}};
        unpackObject(parentObject['children'][newObjectId.toString()], parentId)
      }
      function removeObject(parentId){
        // Simple. Remove an object.
      }
      function duplicateObject(parentId){
        // Dupe the object but with new ID's
      }
      function editObject(parentId){
        // This is the really tough one. Edit color, attributes, etc. (but not children)
      }
      function toggleVisibility(elementId) {
        if (window.getComputedStyle(document.getElementById(elementId)).display == "none") {
          document.getElementById(elementId).style.display = "block";
        } else {
          document.getElementById(elementId).style.display = "none";
        }
      }
      function findObjectNode(object, id) {
        if (object['id'] == id) {
          return object
        }
        if (!('children' in object)) {
          return false
        }
        for (var i = 0; i < Object.keys(object['children']).length; i++) {
          result=findObjectNode(object['children'][Object.keys(object['children'])[i]], id)
          if (result != false) {
            return result
          }
        }
        return false
      }



      // function findObjectNode(object, id, path) {
      //   if (path == undefined) { path = "data['scene']" }
      //   console.log(object, id, path)
      //   if (object.id == id) {
      //     return object
      //   } else {
      //     if (!('children' in object)) {return false}
      //     for (var i = 0; i < Object.keys(object['children']).length; i++) {
      //       result = findObjectNode(object['children'][Object.keys(object['children'])[i]], id, path+`['children'][${i}]`)
      //       if (result !== false) {
      //         return result
      //       }
      //     }
      //     return false
      //   }
      // }
      function importData() {
        // data=JSON.parse({{data|tojson}});
        // globalId={{globalId}};
        ajaxNext('jsonDiv', 'http://localhost:8080/scene.json', 'GET', undefined, 'drawData();')
        // ajax('jsonDiv', 'http://localhost:8080/scene.json', 'GET', undefined)
        globalId = 200;
      }
      function drawData() {
        console.log('Drawing Data...')
        data = JSON.parse(document.getElementById('jsonDiv').innerHTML)
        unpackObject(data['scene'], 'body');
      }
      function clearDraw() {
        removeElement(document.getElementsByClassName('titleDiv')[0].id);
        removeElement(document.getElementsByClassName('baseObject')[0].id);
      }
      function redrawData() {
        clearDraw();
        drawData();
      }
      window.onload=function(){
        console.log('Window loaded.')
        importData();
      }
    </script>
  </head>
  <body id="body">
    <!-- <i class="material-icons" style="position:fixed;right:0;top:0;padding:2px;color:black;background:white;border-radius:0 0 0 5px;cursor:pointer;">save</i> -->
    <!-- <div class="fullScreenModalContainer" style="background: rgba(0, 0, 0, 0.8);position:fixed;margin:0;padding:0;width:100%;height:100%;">
      <div class="fullScreenModal" style="background: white;margin:15px;padding:15px;">
        x
        <br>
        Name
        Attributes
      </div>
    </div> -->
    <p>Next steps:</p>
    <p> - Do Action modal (target)</p>
    <p> - Calculate effects</p>
    <p> - Advance Turn</p>
    <p> - Long Rest</p>
    <p> - Save to JSON</p>
    <p> - Add Attribute Modal</p>
    <p> - Add Child Modal</p>
    <p> - Edit Item Modal</p>
    <p> - Remove Item Modal</p>
    <p> - Edit Mode vs View mode</p>
    <p> - Build example class definition</p>
    <div id="jsonDiv" style="display:initial;opacity:0.5;"></div>
  </body>
</html>
